:root {
  --bgcolor: rgb(101, 155, 237);
  --table-titulo: #369681;
  --table-td: #246355;
  --table-par: #ddd;
  --color-borde: #0f362d;
  --color-input: #777;
  --color-input-hover: #c2c0c0;
  --color-icon-edit: #042461;
  --color-icon-edit-hover: #fff;
  --color-icon-view: #151616;
  --color-icon-view-hover: #fff;
  --color-icon-delete: #ff0000;
  --color-icon-delete-hover: #fff;
  --color-icon-fuera: #246355;
  --color-icon-fuera1: #ff0000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana;
}

textarea {
  resize: none;
  overflow: auto;
}

.dist__article {
  width: 100%;
}

.dist__article-col1,
.dist__article-col2 {
  display: inline-flex;
  width: calc(100% - 6px);
}

.dist__title {
  max-width: 120px;
  min-width: 120px;
  font-size: 1rem;
}

.dist__p {
  display: inline-flex;
  width: calc(100% - 120px);
  color: #222;
  font-size: 0.75rem;
}

.dist__titulo {
  font-size: 1.5rem;
}

.dist__article-info {
  margin-top: 15px;
  width: 100%;
}
.dist__label {
  width: 358px;
  font-size: 1.25rem;
}

.dist__info {
  background-color: rgb(205, 226, 247);
  width: 100%;
}

.icon-edit {
  color: var(--color-icon-edit);
  font-size: 1rem;
}

.icon-delete {
  color: var(--color-icon-delete);
  font-size: 1rem;
  text-align: center;
}

.icon-view {
  color: var(--color-icon-view);
  font-size: 1rem;
}

.icon-fuera {
  color: var(--color-icon-fuera);
  text-align: center;
}

.icon-fuera1 {
  color: var(--color-icon-fuera1);
  text-align: center;
}

.card__form,
.personal__form {
  width: 100%;
  border-radius: 7px;
}

.card__div,
.personal__div {
  background-color: var(--table-titulo);
  /* color: white; */
  font-size: 1rem;
  padding: 4px 4px;
}

.card__label,
.personal__label {
  /* min-width: 100%; */
  font-weight: bold;
  font-size: 1rem;
  padding-left: 4px;
  /* border-bottom: solid 5px var(--color-borde); */
}

.card__input,
.card__input input[type="email"],
.card__input input[type="text"],
.personal__input,
.personal__input input[type="email"],
.personal__input input[type="text"] {
  width: 100%;
  color: black;
  border: 0;
  border-bottom: 1px var(--table-td) solid;
  font-size: 0.95rem;
  cursor: pointer;
  border-radius: 5px;
}

.icon-edit:hover {
  color: var(--color-icon-edit-hover);
}

.icon-delete:hover {
  color: var(--color-icon-delete-hover);
}

.icon-view:hover {
  color: var(--color-icon-view-hover);
}

.representacion__input:hover,
.personal__input:hover {
  /* color: white; */
  background-color: var(--color-input-hover);
}

/* Boton Nuevo y Buscar */
.barra__index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 340 px;

  margin-bottom: 1em;
}

.div__nuevo {
  width: 55px;
  background-color: #444;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.div__nuevo input[type="submit"] {
  text-align: center;
}

.div__buscar {
  width: 300px;
  border: 2px solid #000;
  border-radius: 25px;
  color: white;
  /* text-align: center; */
}

.span__input-buscar {
  width: 300px;
  border: none;
  border-radius: 25px 0 0 25px;
}

.span__input-buscar input[type="text"] {
  /* width: 300px; */
  border: none;
  border-radius: 25px 0 0 25px;
  color: #444;
  cursor: pointer;
}

.span__btn-buscar {
  width: 40px;
  /* height: 100%; */
  padding-left: 4px;
  /* background-color: #000; */
  /* background-color: #fff; */
  border-radius: 0 25px 25px 0;
  align-items: end;
}

.span__btn-buscar input[type="submit"] {
  /* border-radius: 0 25px 25px 0; */
  cursor: pointer;
  color: #000;
}

/* Fin Boton Nuevo y Buscar */

/* botones  edicion */
.personal__btn {
  width: 340px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  margin-top: 10px;
}

.btn__aceptar,
.btn__reset,
.btn__cancelar {
  margin: 0;
  width: 85px;
  border: transparent 1px #222;
  border-radius: 7px;
  cursor: pointer;
}

.btn__aceptar {
  height: 30px;
  background-color: green;
  color: white;
}

.btn__reset {
  height: 30px;
  background-color: yellow;
}

.btn__cancelar {
  height: 30px;
  background-color: red;
  color: white;
}

.btn__aceptar:hover {
  height: 30px;
  background-color: #999;
  color: rgb(1, 48, 1);
}

.btn__reset:hover {
  height: 30px;
  background-color: #444;
  color: yellow;
}

.btn__cancelar:hover {
  height: 30px;
  background-color: #999;
  color: red;
}
/* fin botones edicion */

table {
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

@media (max-width: 56em) {
  table {
    font-size: 0.9em;
    font-weight: bold;
  }

  table thead {
    display: none;
  }

  table tr {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 1em;
    margin-bottom: 1em;
  }
  table td[data-titulo] {
    display: flex;
  }

  table td[data-titulo]::before {
    content: attr(data-titulo);
    min-width: 110px;
    color: #222;
  }
}

td,
th {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tr:hover {
  background-color: #369681;
  color: white;
}

@media screen and (min-width: 480px) {
  .dist__title {
    color: blue;
  }

  .dist__p {
    font-size: 1rem;
  }

  .personal__btn {
    width: 460px;
  }
}

@media screen and (min-width: 640px) {
  thead {
    background-color: #246355;
    border-bottom: solid 5px var(--color-borde);
    color: white;
  }

  .dist__article-col1,
  .dist__article-col2 {
    min-width: 48%;
    max-width: 48%;
  }

  .dist__title {
    color: red;
  }

  .barra__index {
    /* display: fllex; */
    flex-direction: row;

    /* align-items: center;
    justify-content: space-between; */
  }

  /* .btn__nuevo {
    display: flex;
  } */

  .personal__btn {
    width: 500px;
  }
}
@media screen and (min-width: 768px) {
  .dist__title {
    color: red;
  }

  /* .personal__btn {
    width: 750px;
  }

  .representacion__form {
    width: 768px;
  } */
}
@media screen and (min-width: 1024px) {
  .dist__article-col1,
  .dist__article-col2 {
    min-width: 33%;
    max-width: 33%;
  }

  .dist__title {
    color: brown;
  }

  /* .ocultar {
    display: inline-flex;
  } */
}
@media screen and (min-width: 1220px) {
  .dist__title {
    color: cadetblue;
  }
}
